.opacity-100 {
  opacity: 1;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.scale-100 {
  transform: scale(1);
}
.opacity-0 {
  opacity: 0;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.scale-95 {
  transform: scale(0.95);
}
.absolute {
  position: absolute;
}

.top-44 {
  top: 44px; /* Adjust the offset as needed */
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.inset {
  left: 25%; /* Adjust the percentage as needed */
  right: 25%; /* Adjust the percentage as needed */
}
